<mat-list role="list">
    <mat-list-item role="listitem"><a routerLink="/admin/dashboard">Dashboard</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/customer">Customers</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/products">Products</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="/admin/order">Orders</a></mat-list-item>
    <mat-list-item role="listitem"><a routerLink="authorize-menu">Authorize Menu</a></mat-list-item>

    <mat-list-item role="listitem"><a routerLink="">Siteyi Gör</a></mat-list-item>
  </mat-list>